.app-body {
    background-image: url('../../../assets/img/background/background.png');
    background-repeat: repeat;
    background-size: 100% 100% ;
    background-color: #d1a478;
    /* background:url('../../../assets/img/background/background.png') no-repeat; background-size: cover; background-attachment: fixed; background-position: center; */
}
app-footer {
    background-color: black !important;
}
.header {
    background-color: black;
}
.header .row {
    padding: 20px !important;
}
.header .row span {
    font-size: 20px;
}

@media (max-width: 991.98px){
    .app-body {
        margin-top: 0px;
    }
}

/* .app-body {
    position: relative;
}
.main {
    position: absolute;
    z-index: 2;
    width: 100%;
} */
