<div class="header">
  <div class="row m-0">
    <div class="col-12 text-center">
      <img src="../../../assets/img/brand/Logo.png" width=42 height=28>
      <span class="text-light font-weight-bold">Shyang Shin Bao<strong> | </strong>Job Promotion Course</span>
    </div>
  </div>
</div>
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col text-center text-light">
          <h1 class="notify">
            PLEASE LOGIN EIP TO USE THE PROGRAM !         
          </h1>
          <p><a href="http://eip.shc.ssbshoes.com/"><h2><strong>http://eip.shc.ssbshoes.com/</strong></h2></a></p>
        </div>
      </div>
    </div>
  </main>
</div>
<app-footer class="bg-dark">
  <span>Job Promotion Course &copy; 2020</span>
</app-footer>

<ngx-spinner type="ball-clip-rotate"></ngx-spinner>
